* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    text-align: center;
            min-height: 100vh;
            box-sizing: border-box;
            background-size: cover;
            background-image: url("https://tse2.mm.bing.net/th/id/OIP._V6GkPQ2L9NomI3N09zaywHaDU?pid=Api&P=0&h=180");
}
.content{
    display: grid;
            grid-template-columns: repeat(3 , 1fr);
            gap: 20px;
            grid-template-rows: auto auto;
            align-items: left;
            margin-top: 40px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}
p {
   font-family: 'Poppins', sans-serif;
            font-size: 34px;
            font-weight: 600;
             color: #222;
}
.seed1{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.seed2{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}   
.seed3{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.seed3{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.seed4{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.flower1{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.flower2{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.flower3{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.flower4{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.flower5{
 width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 0;
            background-color: rgb(247, 245, 242);
}
.itemss{
    display: flex;
    flex-wrap: wrap;
}